body{
    font-family: "Open Sans", sans-serif;
}


.common-button{
    background-color: #2563EB;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    border: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 15px;

}


.container{
    max-width: 1200px;
    margin: auto;
}

/* navbar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;

}

nav ul{
    display: flex;
    gap: 20px;
    justify-content:space-between;
    
    
}

nav ul li{
    display: flex;
}

nav ul li a{
    text-decoration:none;
    color: black;
}

/* herosection style */
.hero-img{
    background-image:url(./assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 850px;
    display: flex;
    position: relative;
    
}

.hero-img::before{
    content: "";
    position:absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.753), transparent);

}


.hero-parent{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    position: relative;
    z-index: 1;

}

.hero-parent-text{
    font-size:large;
}

.hero-parent-text p{
    text-wrap-style: balance;
}



